* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(Fonts/TitilliumWeb-Light.ttf);

}

/* variables */
:root {
    --second-font: cursive;
    --main-font: myFont;
    --main-color: aqua;
    --secondary-color: #FFE4C4;
}

body {
    background-color: #B0B0B0;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    background-color: var(--main-color);
    padding: 20px;
    font-family: var(--main-font);

}

.head {
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    list-style-type: none;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}

ul li {
    padding: 10px 20px;
    font-size: 1.5rem;
}

ul li a {
    text-decoration: none;
}

ul li:hover {
    background-color: white;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.main-container {
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding-bottom: 20px;
}

h2 {
    background-color: var(--main-color);
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

.img {
    display: block;
    margin: 10px auto;
    width: 100%;
}

video {
    display: block;
    margin: 10px auto;
    width: 100%;
}

figcaption {
    text-align: center;
    font-family: var(--second-font);
}

p {
    margin-left: 5px;
    line-height: 130%;
    text-align: center;
    font-family: var(--second-font);
}

.content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 33, 3%;
    height: 400px;
    margin-bottom: 20px;
}

.product-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content {
    height: 160px;
    overflow-y: auto;
}

.product-image {
    height: 200px;
    width: 300px;
}

.label {
    display: block;
    font-family: var(--second-font);
    margin-top: 10px;
}

input {
    font-family: var(--second-font);
}

input[type=text],
[type=email],
[list=kraji] {
    border-radius: 10px;
    width: 80%;
}

input[type=email]:focus,
[list=kraji]:focus,
[type=text]:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--main-color);
}

.content-1 {
    text-align: center;
}

.btn {
    margin: 20px 0;
    background-color: var(--secondary-color);
    padding: 5px 80px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--main-color);
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.radio {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5rem;
}

.radio-input input {
    opacity: 0;
    width: 0;
    height: 0;
    display: flex;
}

.radio-control {
    display: block;
    background-color: var(--secondary-color);
    width: 1em;
    height: 1em;
    border-radius: 25%;
    border: 0.1em solid black;
    transform: translateY(5px);
}

.izbire {
    display: flex;
    justify-content: space-evenly;
}

.radio-input input:checked+.radio-control {
    background-color: var(--main-color);
}

.radio-input input:hover+.radio-control {
    border: none;
    outline: 1px solid var(--secondary-color);
}

.circle {
    border-radius: 50%;
}